<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<% if @user.errors.any? %>

  <%= @user.errors.count %>errors prohibited this book from being saved:
   <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>

   </ul>
 <% end %>

<%= form_with model: @user do |f| %>

<div>
  <p>Name</p>
  <%= f.text_field :name %>
</div>

<div>
 <p>Image</p>
 <>
</div>

<div>
  <p>introduction</p>
  <%= f.text_area :introduction %>
</div>

 <p><%= f.submit 'Update User' %></p>

<% end %>