<% @book.each do |book| %>
 <div>
  <%= link_to new_book_path(book.id) do %>
  <% end %>

  <p>New book</p>
   <%= form_with model: @book, method: :post do |f| %>

   <p>Title</p>
   <%= f.text_field :title %>

   <p>Opinion</p>
   <%= f.text_area :body %>

   <p><%= f.submit 'Create Book' %></p>
   <% end %>
 </div>
<% end %>