  <p>New book</p>
  <% if book.errors.any? %>

  <%= book.errors.count %>errors prohibited this book from being saved:
   <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
   </ul>
 <% end %>
  <% if @book.errors.any? %>

  <%= @book.errors.count %>errors prohibited this book from being saved:
   <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
   </ul>
 <% end %>

   <%= form_with model: @book, method: :post do |f| %>

   <p>Title</p>
   <%= f.text_field :title %>

   <p>Opinion</p>
   <%= f.text_area :body %>

   <p><%= f.submit 'Create Book' %></p>
   <% end %>
 </div>
